[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Enjoy
Name[eo]=Ĝuu
Name[fr]=Enjoy
Name[gl]=Enjoy
Name[ms]=Enjoy
Name[sr]=Eнџој
Name[tr]=Enjoy
Comment=Music Player
Comment[eo]=Muzikludilo
Comment[es]=Reproductor de música
Comment[fr]=Lecteur de musique
Comment[gl]=Reprodutor de música
Comment[it]=Riproduttore musicale
Comment[ms]=Pemain Muzik
Comment[pt]=Reprodutor de músicas
Comment[sr]=Извођач музике
Comment[tr]=Müzik Çalar
Icon=enjoy
Exec=enjoy
Terminal=false
Categories=Application;AudioVideo;Audio;Player;
