[Desktop Entry]
Categories=Application;AudioVideo;Audio;Player;
Comment=Music Player
Comment[eo]=Muzikludilo
Comment[es]=Reproductor de música
Comment[fr]=Lecteur de musique
Comment[gl]=Reprodutor de música
Comment[it]=Riproduttore musicale
Comment[pt]=Reprodutor de músicas
Encoding=UTF-8
Exec=enjoy
Icon=enjoy
Name=Enjoy
Name[eo]=Ĝuu
Name[fr]=Enjoy
Terminal=false
Type=Application
